blackmagic
*.bin
*.hex
blackmagic_dfu
dfu_upgrade
mapfile
*.o
*.d
.*.swp
*~
*.pyc
tags
.gdbinit
*.s#*
*.b#*
EM_CMSIS_3.20.0.zip
EFM32LG_STK3600_BSP_3.20.0.zip
EM_BSP_COMMON_3.20.0.zip
.cproject
.project
